<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <title>yeahoi</title>
</head>
<body>
    <header>
        <a href="#"><img class="logo" src="static/outline.png" alt=""></a>
    </header>

    <div class="myintro">
        <h1 class="name">Panait Andrei Daniel</h1>
        <br>
        <div class="linebreaker-name"></div>
        <br>
        <h2 class="intro">QA Automation Engineer</h2>
        <br>
        <div class="linebreaker"></div>
        <br>
        <span><p>As a QA Automation Engineer, I create and run Python scripts to automate manual tests of an embedded system. I have a keen eye for detail and a passion for ensuring the quality and reliability of software products. I collaborate with developers, testers, and project managers to identify and resolve bugs, errors, and defects in a timely and efficient manner.
        </p></span>
        <br>
        <br>
        <br>
        <div class="buttons">
            <button class="btnAbout-popup">About</button>
            <button class="btn-projects-popup">Skills</button>
            <button class="btnContact-popup">Contact</button>
        </div>
        <div class="whole-wrappers">
            <div class="wrapper-about">
                <span class="icon-about-close">
                    <ion-icon name="close"></ion-icon>
                </span>
                <div class="gettoknowme">
                    <h2>Get to know me</h2>
                    <br>
                    <ul style="list-style-type: none">
                        <li>I am a QA Automation Engineer working in the automotive industry, I create and run automated test scripts with Python to ensure the quality and reliability of the software product I am testing.</li>
                        <br>
                        <li>I also like building my own, personal projects written mostly in Python, that you can find at my personal GitHub page.</li>
                        <br>
                        <li>I am open to job opportunities where I can learn and grow, but most importantly, contribute to the benefit od the world. If you have a good opportunity that matches my skills and experience, do not hesitate to contact me.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="wrapper-projects">
                <span class="icon-projects-close">
                    <ion-icon name="close">blablabla</ion-icon>
                </span>
                <div class="skills">
                    <p>Python</p>
                    <br>
                    <p>JavaScript</p>
                    <br>
                    <p>Django</p>
                    <br>
                    <p>C++</p>
                    <br>
                    <p>HTML</p>
                    <br>
                    <p>CSS</p>
                    <br>
                    <p>Bootstrap</p>
                    <br>
                    <p>Vector CAN</p>
                    <br>
                    <p>Automation</p>
                </div>
            </div>
            <br>
            <div class="wrapper-contact">
                <span class="icon-contact-close">
                    <ion-icon name="close">blablabla</ion-icon>
                </span>
                <h1><strong>Here you can find my personal email adress as well as my GitHub and LinkedIn profiles</strong></h1>
                <div class="contacts">
                    <div class="contacticons-linkedin">
                        <span><ion-icon name="logo-linkedin"></ion-icon></span>
                    </div>
                    <br>
                    <span class="contacticons-github"><ion-icon name="logo-github"></ion-icon></span>
                    <br>
                    <span class="contacticons-email"><ion-icon name="mail-outline"></ion-icon></span>
                </div>
            </div>
        </div>
    </div>


    <div class="menu-sleeve">
        <a href="https://www.linkedin.com/in/andrei-daniel-panait-225678226/"><div class="menu-item"><span class="contacticons"><ion-icon name="logo-linkedin"></ion-icon></span></div></a>
        <a href="https://github.com/RezaR-exe"><div class="menu-item"><span class="contacticons"><ion-icon name="logo-github"></ion-icon></span></div></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=panait446@gmail.com"><div class="menu-item"><span class="contacticons"><ion-icon name="mail-outline"></ion-icon></span></div></a>
        <!-- Add more menu items as needed -->
      </div>

      <script src="static/script.js"></script> 
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>